@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0 !important;
  margin: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  @apply bg-gray-100 dark:bg-gray-800;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input {
  @apply rounded outline-none duration-200 focus:ring-4 focus:ring-violet-400/50 dark:bg-gray-900;
  @apply border-2 border-violet-400;
  @apply shadow-lg;
}